*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}

header{
	height: 745px;
	width: 1280px;
	background: url(../images/headerbg.jpg);
	background-size: 100%;
	clear:both;
}
header .wrapper{
	width: 768px;
	height: 100%;
	margin: 0 auto;
}
header nav{
	height: 55px;
	padding-top: 40px;
}
nav li{
	float: left;
}

header nav .nav-left{
	margin: 30px 40px 9px 0px;
}
header nav .nav-right{
	float: right;
	margin: 30px 0px 9px 40px;
}
#camera{
	margin-left: 100px;
}
@font-face{
	font-family: GothmRoundedBold;
	src:url(../fonts/GothamRoundedBold.ttf);
}
nav a{
	font-size: 16px;
	font-family: GothmRoundedBold;
	font-weight: bold;
	color: #ccc;
}
.title{
	margin-top: 240px;
}
.title h1{
	font-size: 36px;
	font-family: GothmRoundedBold;
	text-align: center;
	color: #ccc;
}
@font-face{
	font-family: GothmRoundedMedium;
	src:url(../fonts/GothamRoundedMedium.ttf);
}
.title h2{
	font-size: 16px;
	font-family: GothmRoundedMedium;
	font-weight: bold;
	text-align: center;
	color: #ccc;
}
.btn-start{
	width: 166px;
	height: 50px;
	margin: 30px auto;
	font-size: 12px;
	font-family: GothmRoundedBold;
	font-weight: bold;
	color: #ccc;
	border-radius: 3px;
	border: none;
	background-color: #16a085;	
}
header .btn-start{
	display: flex;
	justify-content: center;
}
.net-icons{
	margin-top: 222px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.ico{
	width:23px;
	height:21px;
	display: block;
	margin-left: 16px;
	background: url(../images/sprite.png) no-repeat 0 0;
}
#fi{
	background-position: -39px 0;
}
#dr{
	background-position: -78px 0;
}

#sec-first{
	height: 492px;
	width: 1280px;
	background-color: #f5f6f7;
	text-align: left;
}
#sec-first .wrapper{
	float:left;
	margin: 113px 0px 0px 128px;
}
#sec-first h2{
	color: #16a085;
	font-family: GothmRoundedBold;
	font-size: 18px;
	margin-bottom: 30px;
}
@font-face{
	font-family: GothmRoundedBook;
	src:url(../fonts/gothamrounded-book-webfont.ttf);
}
#sec-first p{
	color:#373737;
	font-size: 12px;
	font-family: GothmRoundedBook;
}
#sec-first strong{
	font-family: GothmRoundedBold;
}
#sec-first aside{
	margin-top: 92px;
	float: right;
}
#sec-two{
	height: 558px;
	width: 1280px;
	background-color: #ffffff;
}
#sec-two .wrapper{
	text-align: left;
	float:left;
	margin-top: 143px;
	margin-left: 330px;
}
#sec-two aside{
	float: left;
	margin-top: 147px;
	margin-left: 125px;
}
#sec-two h2{
	color: #16a085;
	font-family: GothmRoundedBold;
	font-size: 18px;
	margin-bottom: 30px;
}
#sec-two p{
	color:#373737;
	font-size: 12px;
	font-family: GothmRoundedBook;
}
#sec-two strong{
	font-family: GothmRoundedBold;
}
#sec-two .num{
	font-family: GothmRoundedBold;
	font-size: 12px;
}
.slider button{
	width:10px;
	height:16px;
	border:none;
	display: block;
	float:left;
	background: url(../images/buttons.png) no-repeat 0 0;
}
#slider-right{
	background-position: -32px 0;
	margin-left: 22px;
}
#sec-three{
	height: 484px;
	width: 1280px;
	background-color: #f5f6f7
}
#sec-three .sec3wrap{
	margin-top: 95px;
	margin-right: 128px;
	float: right;
}
.to-right{
	width: 1152px;
	height: 26px;
}
.to-right button{
	float: right;
}
#right-btn{
	background-position: -32px 0;
	margin-left: 15px;
}
#sec-three .text-wrapper{
	width: 385px;
	text-align: center;
}
#sec-three .wrapper{
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}
#sec-three h2{
	color: #373737;
	font-size: 16px;
	font-family: GothmRoundedBold;
}
#sec-three p{
	font-family: GothmRoundedMedium;
	font-size: 10px;
	color: #373737;
}
#sec-tree img{
	width: 370px;
	height: 244px;
}
#sec-four{
	width: 1280px;
	height: 790px;	
	background: url(../images/back4.jpg);
	background-size: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#sec-four h2{
	color: #ffffff;
	font-size: 24px;
	font-family: GothmRoundedBold;
}
#sec-four input[type="email"]{
    width: 280px;
    height: 58px;
}

#sec-four input[type="submit"] {
    margin-left: -5px;
    color: transparent;
    height: 60px;
    width: 63x;
    background: url(../images/ok.png) no-repeat 0 0;
    border: none;
    border-radius: 3px;
}
#sec-four .mail-form{
	margin-top: 35px;
}
#img-bus{
	margin-right: 26px;
}
.camera-logo{
	width: 59px;
	height: 55px;
	border: none;
}

::-webkit-input-placeholder { 
	color:#373737; 
	font-family: GothmRoundedMedium;
	padding-left: 20px;
	font-size: 16px; }
::-moz-placeholder {  
	color:#373737; 
	font-family: GothmRoundedMedium;
	padding-left: 20px;
	font-size: 16px;  }
:-ms-input-placeholder {
	color:#373737; 
	font-family: GothmRoundedMedium;
	padding-left: 20px;
	font-size: 16px;  }
input:-moz-placeholder {  
	color:#373737; 
	font-family: GothmRoundedMedium;
	padding-left: 20px;
	font-size: 16px; }

#sec-five{
	width: 1280px;
	height: 396px;
	background-color: #f5f6f7;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
	color: #373737;
	text-align: center;
}
#sec-five h2{
	font-family: GothmRoundedBold;
	font-size: 20px;
}
#sec-five p{
	font-family: GothmRoundedMedium;
	font-size: 12px;
	margin-top: 17px;
}
#sec-five .store-buttons{
	margin-top: 46px;
}
#sec-five .big{
	width: 250px;
	height: 56px;
	background-color: #1abc9c;
	background-image: url(../images/ico-apple.png);
	background-position: right;
	background-repeat: no-repeat;
	color: #ffffff;
	font-family: GothmRoundedBold;
	font-size: 18px;
	text-align: left;
	padding-left: 30px;
}

#sec-five .play-store{
	background-image: url(../images/ico-android.png);
}



footer{
	width: 1280px;
	height: 132px;
	background-color: #ffffff;	
	color: #373737;
}
footer .wrapper{
	float: left;
	margin-left: 128px;
	margin-top: 47px;
}
footer .copyright{
	font-family: GothmRoundedBold;
	font-size: 14px;
	color: #373737;
	margin-top: 27px;
}
footer .bottom-nav li{
	float: left;
	margin-right: 10px;
	font-family: GothmRoundedBold;
	font-size: 14px;
}
.line{
	color: #16a085;
}
footer .camera-logo{
	float: right;
	margin: 39px 128px;
}